<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        License<br />
        <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons - CC BY 3.0</a>
      </div>

      <div class="footer-col footer-col-2">
        &nbsp;
      </div>

      <div class="footer-col footer-col-3">
          <ul class="social-media-list">
              <li><a href="https://github.com/build-canaries/cctray"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">build-canaries/cctray</span></a></li>
          </ul>
      </div>
    </div>

  </div>

</footer>
